*{
    margin: 0;
    padding: 0;
}

/*HEADER*/

.nav{
    z-index: 1100;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(18, 17, 20);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__titulo{
    font-family: 'Seymour One', sans-serif;
    font-size: 40px;
    padding: 15px;
    color: white;
    text-decoration: none;
}
.nav__titulo:hover{
    color: rgb(236, 156, 98);
}


/*MAIN*/

.inicio{
    height: 100%;
    background-image: linear-gradient(rgb(236, 227, 227) , rgb(105, 105, 243));
}
.bienvenida{
    background-color: cornflowerblue;
    border-radius: 24px;
    
}

/* Titulo */

.inicio__p{
    font-family: inherit;
    font-weight: bold;
    font-size: 45px;
    display: flex;    
    justify-content: center;
    padding: 15px;
    margin: 0;
}

/* Seleccion */

.seleccion{
    background-color: black;
    height: 100%;
}

.seleccion__menu{
    display: flex;
    justify-content: space-evenly;
}

.menu__objetos{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    list-style: none;
    padding: 10px;
}

.objetos__link{
    color: white;
    text-decoration: none; 
}



.section__articulo{
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Seccion oculta */

.section__oculta{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}




/* BOTON INFORMACION */

.infoclass{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

/* CARDS VEHICULOS */

.inicio__vehiculos{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    column-gap: 15px;
    row-gap: 15px;
    align-items: center;
    justify-items: center;
    padding-bottom: 15px;
    color: white;
}

.card-text{
    color: white;
}
.card-title{
    color: white;
}

.articles{
    background-color:rgb(27, 27, 27);
}



/* FORMULARIO*/

.formulario__form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    font-weight: bold;
}
.formulario__imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

/*TABLA*/
#seccionDos{
    width: 75%;
   
}
.tableDom{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* CARRO COMPRAS */

.carro__compras{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}

.carro__button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* FOOTER */

.footer{
    height: 150px;
    background-color: rgb(19, 19, 20);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__h2{
    padding:15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}
.footer__ul{
    padding-right: 45px;
    list-style: none;
}



/*Class oculta y visible*/

.oculto {
    display: none;
}

.visible {
    display: inline;
}

